/Teste.class
/PartidoPolitico.class
/Candidato.class
/Eleitor.class
/Municipio.class
/UrnaEletronica.class
/Files.class
/Main.class
/Store.class
/Celula.class
/LerArquivo.class
/Lista.class
/Menu.class
/MainTRE.class
/Resultados.class
/Resultado.class
